input[type=text],
input[type=password] {
  width: 450px;
  height: 50px;
  text-align: center;
  padding: 15px 50px;
  font-size: 15px;
  margin: 0 0 9px 0;
  border-radius: 2px;
  letter-spacing: 0.5px;
  display: block;
  border: 1px solid #edeff2; }

.mb-3,
.my-3 {
  margin-bottom: 10px !important; }

header {
  background: linear-gradient(45deg, #0a2839, #000f19);
  color: #bcbcbc;
  height: 100vh; }
  header .logo {
    padding: 10px 0; }
    header .logo img {
      width: 100px; }

.notMain {
  height: 80px; }

.container {
  max-width: 100% !important; }

section {
  padding: 20px; }

.btnCabinet {
  padding: 6px 25px;
  text-align: center;
  font-size: 15px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  -webkit-transition: background-color 125ms ease;
  transition: background-color 125ms ease;
  cursor: pointer; }
  .btnCabinet:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.buttonLight {
  background-color: #b5965f;
  color: #101d3d; }

.buttonDark {
  background-color: #1d313e; }

#topMenu a {
  text-transform: uppercase;
  color: #b5965f; }

#topPanel i {
  font-size: 25px; }
#topPanel a {
  color: #b5965f;
  text-decoration: none; }

#banner h1 {
  text-align: center;
  padding-top: 25vh;
  text-transform: uppercase;
  font-size: 40px;
  color: #fff; }
#banner #newsScrollPanel {
  padding-top: 30px; }
  #banner #newsScrollPanel img {
    border-radius: 5px; }

#personalAccount {
  margin-top: 40px; }
  #personalAccount #personalCabinet .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 70px;
    width: 70px;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.5); }
    #personalAccount #personalCabinet .items:hover {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    #personalAccount #personalCabinet .items:hover {
      text-decoration: none; }
    #personalAccount #personalCabinet .items i {
      font-size: 30px; }
  #personalAccount #nameUserAccount {
    background-color: #fff;
    padding: 10px;
    margin: 30px 0;
    border: 1px solid rgba(0, 0, 0, 0.2); }
    #personalAccount #nameUserAccount #imgPerson {
      color: grey;
      padding: 5px 0;
      font-size: 60px;
      height: 80px;
      width: 80px;
      border-radius: 100%;
      border: 1px solid rgba(0, 0, 0, 0.3);
      text-align: center;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      #personalAccount #nameUserAccount #imgPerson:hover {
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }
  #personalAccount .personalAccountTools__items {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 5px;
    background-color: #fff; }
    #personalAccount .personalAccountTools__items p {
      height: 35px; }
    #personalAccount .personalAccountTools__items button {
      margin-top: 25px; }
  #personalAccount #deviceSecurity {
    margin-top: 20px; }

@media (max-width: 576px) {
  .topPanel {
    display: none; } }

/*# sourceMappingURL=main.css.map */